{% extends "main.html" %}
{% block content %}
  <div>
    Updating {{playerToUpdate.name}}
  </div>
  <form action=# method='post'>
    <div>
      Current name: {{playerToUpdate.name}}
      <label for='playerName'>Name:</label>
      <input type='text' id='playerName' name='name' value='{{playerToUpdate.name}}'>
    </div>
    <div>
      <label for='playerPosition1'>1B:</label>
      <input type='radio' id='playerPosition1' name='position' value='1B' {% if playerToUpdate.position=='1B' %}checked{% endif %}>
      <label for='playerPosition2'>2B:</label>
      <input type='radio' id='playerPosition2' name='position' value='2B' {% if playerToUpdate.position=='2B' %}checked{% endif %}>
      <label for='playerPosition3'>3B:</label>
      <input type='radio' id='playerPosition3' name='position' value='3B' {% if playerToUpdate.position=='3B' %}checked{% endif %}>
      <label for='playerPosition4'>SS:</label>
      <input type='radio' id='playerPosition4' name='position' value='SS' {% if playerToUpdate.position=='SS' %}checked{% endif %}>
      <label for='playerPosition5'>LF:</label>
      <input type='radio' id='playerPosition5' name='position' value='LF' {% if playerToUpdate.position=='LF' %}checked{% endif %}>
      <label for='playerPosition6'>CF:</label>
      <input type='radio' id='playerPosition6' name='position' value='CF' {% if playerToUpdate.position=='CF' %}checked{% endif %}>
      <label for='playerPosition7'>RF:</label>
      <input type='radio' id='playerPosition7' name='position' value='RF' {% if playerToUpdate.position=='RF' %}checked{% endif %}>
      <label for='playerPosition8'>C:</label>
      <input type='radio' id='playerPosition8' name='position' value='C' {% if playerToUpdate.position=='C' %}checked{% endif %}>
      <label for='playerPosition9'>P:</label>
      <input type='radio' id='playerPosition9' name='position' value='P' {% if playerToUpdate.position=='P' %}checked{% endif %}>
    </div>
    <div>
      <label for='playerNumber'>Number:</label>
      <input type='number' id='playerNumber' name='number' min='0' max='99' value='{{playerToUpdate.number}}'>
    </div>
    <div>
      <label for='playerHandedness1'>R:</label>
      <input type='radio' id='playerHandedness1' name='handedness' value='R' {% if playerToUpdate.handedness=='R' %}checked{% endif %}>
      <label for='playerHandedness2'>L:</label>
      <input type='radio' id='playerHandedness2' name='handedness' value='L' {% if playerToUpdate.handedness=='L' %}checked{% endif %}>
    </div>
    <button type='submit'>Update</button>
  </form>
  <a href='{{url_for('showRoster', team_id=team_id)}}'>Cancel</a>
{% endblock %}
