{% extends "main.html" %}
{% block content %}
  <div>
    {{ team.name}}
    <a href='{{url_for('editTeam', team_id=team.id)}}'>Edit</a>
    <a href='{{url_for('deleteTeam', team_id=team.id)}}'>Delete</a>
  </div>
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> {{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <a href='{{url_for('newPlayer', team_id=team.id)}}'>Create new player</a>
  {% for p in roster %}
  <div>
    {{p.name}}     Position: {{p.position}}     Number: {{p.number}}     Handedness: {{p.handedness}}
  </div>
  <div>
    <a href='{{url_for('editPlayer', team_id=team.id, player_id=p.id)}}'>Edit</a>
  </div>
  <div>
    <a href='{{url_for('deletePlayer', team_id=team.id, player_id=p.id)}}'>Delete</a>
  </div>
  {% endfor %}
{% endblock %}
