{% extends "main.html" %}
{% block content %}
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> {{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <a href='{{url_for('newTeam')}}'>Create new team</a>
  {% for t in teams %}
  <div>
    <a href='{{url_for('showRoster', team_id=t.id)}}'>{{t.name}}</a>
    <a href='{{url_for('editTeam', team_id=t.id)}}'>Edit</a>
    <a href='{{url_for('deleteTeam', team_id=t.id)}}'>Delete</a>
  </div>
  {% endfor %}
{% endblock %}
